#_1 {
    width: 16.938rem;
    height: 10.125rem;
    position: absolute;
    top: 8.875rem;
    left: 56.063rem;
}

#_2 {
    width: 53.063rem;
    height: 41.875rem;
    position: absolute;
    top: 9.813rem;
    right: -4.25rem;
    z-index: -10;
}

#_3 {
    width: 8.75rem;
    height: 4.533rem;
    position: absolute;
    top: 24.5rem;
    right: 0.563rem;
}

#_4 {
    width: 41.813rem;
    height: 49.813rem;
    position: absolute;
    top: 10.5rem;
    right: 4.813rem;
}

#_5 {
    width: 8.75rem;
    height: 4.533rem;
    position: absolute;
    top: 37.688rem;
    left: 52.438rem;
}

#_6 {
    width: 44.063rem;
    height: 31.25rem;
    position: absolute;
    top: 23.688rem;
    left: 0rem;
    z-index: -1;
}

#_7 {
    width: 25.313rem;
    height: 13.802rem;
    position: absolute;
    top: 59.875rem;
    left: 6.563rem;
    z-index: -1;
}

#_8 {
    width: 53.063rem;
    height: 41.875rem;
    position: absolute;
    top: 75.188rem;
    right: 0rem;
    z-index: -10;
}

#_9 {
    width: 8.75rem;
    height: 4.533rem;
    position: absolute;
    top: 74.438rem;
    right: 15.063rem;
}

#_10 {
    width: 25.313rem;
    height: 13.802rem;
    position: absolute;
    top: 95.563rem;
    right: 0.844rem;
    z-index: -1;
}

#_11 {
    width: 44.063rem;
    height: 31.25rem;
    position: absolute;
    top: 90.313rem;
    left: 0rem;
    z-index: -1;
}

#_12 {
    width: 16.75rem;
    height: 10.75rem;
    position: absolute;
    top: 117.188rem;
    left: 1.813rem;
}

#_13 {
    width: 25.313rem;
    height: 13.802rem;
    position: absolute;
    top: 134.875rem;
    right: 5.375rem;
    z-index: -1;
}

#_14 {
    width: 53.063rem;
    height: 41.875rem;
    position: absolute;
    top: 148rem;
    right: -24.188rem;
    z-index: -10;
}

#_15 {
    width: 8.75rem;
    height: 4.533rem;
    position: absolute;
    top: 161.25rem;
    left: 8.063rem;
}

#_16 {
    width: 53.063rem;
    height: 41.875rem;
    position: absolute;
    top: 166.125rem;
    left: 0;
    z-index: -1;
}

#_17 {
    width: 25.313rem;
    height: 13.802rem;
    position: absolute;
    top: 180.313rem;
    right: 1.688rem;
    z-index: -1;
}

#_18 {
    width: 25.313rem;
    height: 13.802rem;
    position: absolute;
    top: 200.5rem;
    left: 4.5rem;
    z-index: -1;
}

#_19 {
    width: 53.063rem;
    height: 41.875rem;
    position: absolute;
    top: 217.188rem;
    right: 0;
    z-index: -1;
}

.help1 {
    width: 8.789rem;
    height: 4.533rem;
    position: absolute;
    top: 1.375rem;
    right: 19.375rem;
}

.help2 {
    width: 8.789rem;
    height: 4.533rem;
    position: absolute;
    top: 10.5rem;
    left: 62.5rem;
}

.help3 {
    width: 8.789rem;
    height: 4.533rem;
    position: absolute;
    top: 23.438rem;
    right: 29.563rem;
}

.sit {
    width: 25.125rem;
    height: 33.125rem;
    position: absolute;
    top: 11.5rem;
    right: 5.438rem;
    z-index: 10;
}

.round {
    width: 22.313rem;
    height: 22.313rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    filter: blur(40px); /* Размытие самого круга */
    position: absolute;
    top: 15rem;
    right: 11.875rem;
    z-index: 5;
}

.stk1 {
    width: 22.37rem;
    height: 11.538rem;
    position: absolute;
    top: 328.125rem;
    left: 7.75rem;
}

.stk2 {
    width: 16.75rem;
    height: 10.75rem;
    position: absolute;
    top: 324.875rem;
    right: 14.438rem;
}

.stk3 {
    width: 8.789rem;
    height: 4.533rem;
    position: absolute;
    top: 354.25rem;
    right: 22.25rem;
}

.stk4 {
    width: 53.063rem;
    height: 41.875rem;
    position: absolute;
    top: 328.688rem;
    right: -4.25rem;
    z-index: -10;
}

.stk5 {
    width: 44.063rem;
    height: 31.25rem;
    position: absolute;
    top: 335.125rem;
    left: 0rem;
    z-index: -1;
}